# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.env
.env.*

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Build
dist/
build/
*.egg-info/

# Docker
*.tar

# IDEs
.idea/

# Secrets (IMPORTANT)
*.pem
*.key
secrets/